<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Hack F5" Description=" " ToolsVersion="10.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1404" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1822" Action="Info" />
    <Rule Id="CA2007" Action="None" />
    <Rule Id="CA1030" Action="None" />
  </Rules>
</RuleSet>